.Label {
  border-radius: 5px;
  height: 1rem;
  display: flex;
  justify-content: flex-start;
  margin-right: 0.25rem;
}

.Label > small {
  font-size: x-small;
  padding: 0 .25rem;
  color: white;
  font-weight: bold;
  background-color: m;
}
